

body {
    font-family: 'Poppins', sans-serif;
        
}

h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
    font-weight: 700;
}
h3 {
    font-size: large;
}
h4 {
    font-size: medium;
    font-weight: 700
    ;
}
p {
    font-size: smaller;
}